 .u-section-1 {
  min-height: 1640px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.6);
  height: 571px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: -335px auto 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  font-size: 1.875rem;
  background-image: none;
  margin: 8px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 900;
  margin: 204px auto 0 calc(((100% - 1140px) / 2) + -44px);
}

.u-section-1 .u-line-1 {
  width: 425px;
  transform-origin: left center 0px;
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + 262px);
}

.u-section-1 .u-text-4 {
  margin: 26px 0 0 calc(((100% - 1140px) / 2) + -47px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 800px;
  height: 800px;
  margin: 21px auto 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + -44px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 940px) / 2) + 262px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2) + -47px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 880px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + -44px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 720px) / 2) + 262px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + -44px);
  }

  .u-section-1 .u-line-1 {
    margin-left: calc(((100% - 540px) / 2) + 115px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2) + -44px);
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 745px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0 385px;
}

.u-section-2 .u-line-1 {
  width: 485px;
  transform-origin: left center 0px;
  margin: 0 auto 0 314px;
}

.u-section-2 .u-list-1 {
  margin-top: 76px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 272px;
  grid-template-columns: calc(25% - 105.75px) calc(25% - 105.75px) calc(25% - 105.75px) calc(25% - 105.75px);
  grid-gap: 141px 141px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-image-1 {
  filter: brightness(0.45);
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px -14px 0 7px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 7px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  filter: brightness(0.45);
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px -14px 0 7px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 7px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-image-3 {
  filter: brightness(0.45);
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px -14px 0 7px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 7px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-image-4 {
  filter: brightness(0.45);
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px -14px 0 7px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 7px;
}

.u-section-2 .u-repeater-2 {
  min-height: 272px;
  grid-auto-columns: calc(25% - 105.75px);
  grid-template-columns: calc(25% - 105.75px) calc(25% - 105.75px) calc(25% - 105.75px) calc(25% - 105.75px);
  grid-gap: 141px 141px;
  height: 272px;
  width: 1140px;
  margin: 0 0 35px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-image-5 {
  filter: brightness(0.45);
  height: 150px;
  width: 150px;
  margin: 0 12px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px -24px 0 17px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-2 .u-image-6 {
  filter: brightness(0.45);
  height: 150px;
  width: 150px;
  margin: 0 12px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px -24px 0 17px;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-2 .u-image-7 {
  filter: brightness(0.45);
  height: 150px;
  width: 150px;
  margin: 0 12px 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px -24px 0 17px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-2 .u-image-8 {
  filter: brightness(0.45);
  height: 150px;
  width: 150px;
  margin: 0 12px 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px -24px 0 17px;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 9px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 317px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 196px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-repeater-2 {
    min-height: NaNpx;
    grid-template-columns: repeat(4, calc(25% - 105.75px));
    width: 940px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 243px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 235px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1019px;
    grid-template-columns: calc(50% - 70.5px) calc(50% - 70.5px);
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(50% - 70.5px);
    grid-template-columns: repeat(2, calc(50% - 70.5px));
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 182px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 55px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 115px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 942px;
}

.u-section-3 .u-line-1 {
  width: 662px;
  transform-origin: left center 0px;
  height: 3px;
  position: absolute;
  top: 82px;
  left: 239px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 53px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 30px auto 0;
}

.u-section-3 .u-image-1 {
  width: 800px;
  height: 534px;
  margin: 31px auto 10px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 481px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 992px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-4 .u-line-1 {
  width: 448px;
  transform-origin: right center 0px;
  margin: 14px 325px 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 27px auto 0;
}

.u-section-4 .u-image-1 {
  width: 800px;
  height: 534px;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-4 .u-line-1 {
    margin-right: 272px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 481px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-4 .u-line-1 {
    margin-right: 92px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-5 .u-line-1 {
  width: 490px;
  transform-origin: right center 0px;
  margin: 14px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 27px auto 0;
}

.u-section-5 .u-image-1 {
  width: 800px;
  height: 534px;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 481px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 833px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-6 .u-line-1 {
  width: 490px;
  transform-origin: right center 0px;
  margin: 14px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 27px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 902px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-7 .u-line-1 {
  width: 490px;
  transform-origin: right center 0px;
  margin: 14px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 27px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 483px;
  width: 808px;
  margin: 14px auto 53px 144px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-gallery-1 {
    margin-left: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-gallery-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-line-1 {
    width: 340px;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 902px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-8 .u-line-1 {
  width: 490px;
  transform-origin: right center 0px;
  margin: 14px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 27px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 483px;
  width: 808px;
  margin: 14px auto 53px 144px;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-gallery-1 {
    margin-left: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-gallery-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-line-1 {
    width: 340px;
  }

  .u-section-8 .u-gallery-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 870px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-9 .u-line-1 {
  width: 490px;
  transform-origin: right center 0px;
  margin: 14px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 27px auto 0;
}

.u-section-9 .u-image-1 {
  width: 646px;
  height: 381px;
  margin: 27px auto 60px;
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-line-1 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 870px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-10 .u-line-1 {
  width: 490px;
  transform-origin: right center 0px;
  margin: 14px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 27px auto 0;
}

.u-section-10 .u-image-1 {
  width: 646px;
  height: 447px;
  margin: 27px auto 60px;
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 374px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-line-1 {
    width: 340px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 235px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 694px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0 425px;
}

.u-section-11 .u-line-1 {
  width: 343px;
  transform-origin: left center 0px;
  margin: 11px auto 0 369px;
}

.u-section-11 .u-list-1 {
  margin: 20px 0 60px;
}

.u-section-11 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 500px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-11 .u-image-1 {
  width: 245px;
  height: 245px;
  margin: 0 auto;
}

.u-section-11 .u-text-2 {
  margin: 0 auto;
}

.u-section-11 .u-text-3 {
  margin: 11px 26px 0 0;
}

.u-section-11 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-11 .u-image-2 {
  width: 245px;
  height: 245px;
  margin: 0 auto;
}

.u-section-11 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-11 .u-text-5 {
  margin: 11px 26px 0 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-11 .u-image-3 {
  width: 245px;
  height: 245px;
  margin: 0 auto;
}

.u-section-11 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-11 .u-text-7 {
  margin: 11px 26px 0 0;
}

.u-section-11 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-11 .u-image-4 {
  width: 245px;
  height: 245px;
  margin: 0 auto;
}

.u-section-11 .u-text-8 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-11 .u-text-9 {
  margin: 11px 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-left: 350px;
  }

  .u-section-11 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 413px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    margin-right: 0;
  }

  .u-section-11 .u-text-7 {
    margin-right: 0;
  }

  .u-section-11 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-left: 268px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-left: 201px;
  }

  .u-section-11 .u-line-1 {
    margin-left: 197px;
  }

  .u-section-11 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-left: 127px;
  }

  .u-section-11 .u-line-1 {
    width: 340px;
    margin-left: 0;
  }
}